.objs-key-results-header {

    text-align: left;
    padding: 0;
}


.keys-objs-head-card {

    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    min-height: 5rem;
    min-width: 22%;

    transition: transform .5s ease-in-out;

}

.keys-objs-head-card:hover {

    transform: scale(1.075);

}


.keys-objs-graph-card {

    flex-direction: column;
    display: flex;
    min-width: 100%;
    height: -webkit-fill-available;
    background-color: #fff;

}

.keys-obj-graph-container {

    padding-left: 0;
    padding-right: 0;
    margin-top: .75rem;
    display: flex;
    flex-direction: column;

}

.text-muted {

    color: #868e96;
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 0.2em;

}

.style-pill-navbar {

    background-color: #000080;
    color: #a5d8ff;
    border-radius: 25px;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    width: fit-content;
    display: inline-block;
    margin: 0 0.5em;
    align-self: center;

}


.navigation-header-text {

    color: #868e96;
    font-size: 0.8em;
    line-height: 1.45;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 1rem;
    margin-right: 1rem; */

}

.navlink-option {

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.35rem 0.5rem;

}